.query {
  border: 2px solid black;
  width: 75%;
  height: 100px;
  text-align: center;
  font-size: 64px;
  margin: 0px 15px 5px 0px;
  float: left;
  font-weight: bold;
}

.searchButton {
  float: left;
  background-color: white;
  border: 1px solid black;
  padding: 0.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 40px;
  background-color: white;
}

td {
  border: 2px solid black;
  padding: 10px;
  height: 100px;
}

.column10p {
  width: 10%;
  text-align: center;
}

.column45p {
  width: 45%;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calendar {
  width: 300px;
  font-size: 48px;
}

.personNumber {
  font-size: 36px;
  width: 50px;
  height: 50px;
  margin: 10px 20px 10px 50px;
  text-align: center;
  color: #233cff;
  font-weight: bold;
}

.personNumberTitle {
  margin-left: 130px;
}

.stylishArrow1 {
  margin-right: 20px;
  color: #233cff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 60px;
}

.stylishArrow2 {
  color: #233cff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
