div .searchWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.query {
  border: 2px solid black;
  width: 880px;
  height: 100px;
  text-align: center;
  font-size: 56px;
  margin: 0px 15px 5px 0px;
  float: left;
  font-weight: bold;
}

.searchButton {
  float: left;
  background-color: white;
  border: 0px;
}

table {
  border-collapse: collapse;
  width: 1000px;
  font-size: 32px;
}

td {
  border: 2px solid black;
  padding: 10px;
  height: 50px;
}

.column10p {
  width: 10%;
  text-align: center;
}

.column45p {
  width: 45%;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calendar {
  width: 200px;
  font-size: 24px;
}
.personNumber {
  font-size: 24px;
  width: 30px;
  height: 30px;
  margin: 0px 20px 0px 50px;
  text-align: center;
  color: #233cff;
  font-weight: bold;
}

.personNumberTitle {
  margin-left: 130px;
}

.stylishArrow1 {
  float: right;
  margin-right: 20px;
  color: #233cff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
